{% load static %}

<!-- Modal user -->
<div
  class="offcanvas offcanvas-end text-bg-green"
  tabindex="-1"
  id="offcanvasDarkNavbar"
  aria-labelledby="offcanvasDarkNavbarLabel"
>
  <div class="offcanvas-header">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
    </div>
    <h5 class="offcanvas-title title-user">Nombre</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item user-files">
        <a class="nav-link active" aria-current="page" href="{% url 'user' %}">Mi Prefil</a>
      </li>
      <hr>
      <li class="nav-item user-files">
        <a class="nav-link" href="{% url 'solicitudes' %}">Solicitudes</a>
      </li>
      <li class="nav-item user-files">
        <a class="nav-link" href="{% url 'causas' %}">Causas</a>
      </li>
      <li class="nav-item user-files">
        <a class="nav-link" href="{% url 'finanzas' %}">Finanzas</a>
      </li>
      <li class="nav-item user-files">
        <a class="nav-link" href="{% url 'jt-info' %}">tecnico juridico</a>
      </li>
    </ul>
    <hr>
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item user-files">
        <a class="nav-link" href="">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</div>
