{% load static %}

<header>
  <!-- Navbar section -->
  <nav class="navbar navbar-expand-lg navbar-background">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src="{% static 'img/logo.png' %}"
          alt="Lexus-Service"
          width="55"
          height="55"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end align-items-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              aria-current="page"
              href="{% url 'index' %}"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'layer-view-causas' %}"
              >Causas</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Información
            </a>
            <ul class="dropdown-menu">
              <a href="{% url 'terms' %}">
                <li class="text-green m-2">
                  Terminos y Condiciones
                </li>
              </a>
              <li><hr class="dropdown-divider" /></li>
              <a href="{% url 'politics' %}">
                <li class="text-green m-2">
                  Politicas de Privacidad
                </li>
              </a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#footer-section">Contacto</a>
          </li>
        </ul>
      </div>
      <div
        class="collapse navbar-collapse justify-content-end align-items-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <div>
              <a
                class="nav-link text-white"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar"
                aria-controls="navbarOffcanvasLg"
                aria-label="Toggle navigation"
                >Perfil</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fin Navbar -->
   {% include 'base/layer-profile.html' %}
</header>