<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexus Service | Gestion de Solicitudes</title>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  {% include 'base/nav-jt.html' %}
  <body>
    <div class="go-back">
      <a class="text-green-back" href="{% url 'jt-info' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Volver
      </a>
    </div>
    <main>
      <!-- Solicitud del Cliente -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="formulario-user shadow-lg mb-5 mt-3">
              <div class="better-background">
                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-file-earmark-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"
                    />
                    <path
                      d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"
                    />
                  </svg>
                  <h3 class="mt-2">Causas del Cliente</h3>
                </div>
                <hr />
                <!-- Solicitudes -->
                <section class="section-space">
                  <div class="container-fluid">
                    <div
                      class="row justify-content-center align-items-center text-center text-md-left"
                    ></div>
                  </div>
                </section>
                <section>
                  <div class="better-div">
                    <table
                      class="table table-light table-striped table-borderless text-center"
                    >
                      <tr>
                        <th>Nombre Cliente</th>
                        <th>Rut Cliente</th>
                        <th>Nombre de la Causa</th>
                        <th>Categoria</th>
                        <th>Fechas</th>
                        <th>Ver</th>
                      </tr>
                      <tr>
                        <td>Jose Ignacio</td>
                        <td>12.345.678-9</td>
                        <td>le pegaron a mi hermano</td>
                        <td>Derecho de Familia</td>
                        <td>07/08/24</td>
                        <td>
                          <a href="{% url 'budget' %}">
                            <button type="submit" class="btn btn-light btn-green">
                              Ver
                            </button>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Jose Ignacio</td>
                        <td>12.345.678-9</td>
                        <td>me cai en la pega</td>
                        <td>Derecho Laboral</td>
                        <td>05/12/23</td>
                        <td>
                          <a href="{% url 'budget' %}">
                            <button type="submit" class="btn btn-light btn-green">
                              Ver
                            </button>
                          </a>
                      </td>
                      </tr>
                      <tr>
                        <td>Jose Ignacio</td>
                        <td>12.345.678-9</td>
                        <td>quiero comprar una casa</td>
                        <td>Derecho Inmobiliario</td>
                        <td>28/09/24</td>
                        <td>
                          <a href="{% url 'budget' %}">
                            <button type="submit" class="btn btn-light btn-green">
                              Ver
                            </button>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Jose Ignacio</td>
                        <td>12.345.678-9</td>
                        <td>mi papa no me quiere</td>
                        <td>Derecho de Familia</td>
                        <td>06/08/24</td>
                        <td>
                          <a href="{% url 'budget' %}">
                            <button type="submit" class="btn btn-light btn-green">
                              Ver
                            </button>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  {% include 'base/footer.html' %}
</html>
