body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  transition: 0.2s;
  color: #02c2c2;
}

a {
  transition: 0.2s;
}

.go-back {
  border-radius: 5px;
  padding: 15px;
}

.text-bg-green {
  background-color: #004040;
  color: white;
}

.title-user {
  margin-left: 2% !important;
}

.title-prop {
  margin-left: 3px!important;
}

.bi-book {
  color: #004040;
}

.txt-area {
  font-size: larger;
  color: #004040;
}

.txt- {
  font-size: xx-large;
  color: #004040;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-section {
  display: inline-table;
  margin: 0 40px;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  justify-content: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.navbar-background {
  background-color: #004040;
}

.nav-position {
  margin-left: 35%;
}

.options {
  justify-content: center;
}

.footer-div {
  color: #e9ecef;
}

.section-space {
  margin: 15px;
}

.term {
  display: flex;
  justify-content: space-between;
}

.term-jt {
  display: flex;
  justify-content: end;
}

.terms {
  transition: 0.2s;
  color: #004040;
}

.terms:hover {
  transition: 0.2s;
  color: #028d8d;
}

.form-control {
  background-color: #e9ecef;
}

.form-alert {
  color: rgb(245, 44, 44);
}

.formulario {
  margin: 0 auto;
  width: 90;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.formulario-user {
  margin: 0 auto;
  width: 100;
  border-radius: 5px;
  background-color: white;
}

.form-profile {
  flex: 0 0 auto;
  width: 60%;
}

.info-user {
  justify-content: space-evenly;
}

.space-solicitud {
  justify-content: center;
}

.space-form {
  margin-left: 30%;
  margin-right: 30%;
}

.better-background {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.ul-left {
  text-align: left;
  list-style: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 15px;
  width: 300px;
  border: none;
}

.card-body {
  padding: 10px;
}

.card-derecho {
  border-radius: 5px;
  height: 250px;
}

.opts {
  background-color: #004040;
  margin: 5px;
  width: 330px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.opts-categoria {
  width: 180px;
}

.opts-animation:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.opts-animation {
  transition: transform 0.5s;
}

.back-footer {
  background-color: #004040;
  color: white;
}

.modal-right {
  position: absolute;
  top: 30px;
  right: 20px;
}

.info-view:hover {
  transition: 0.2s;
  color: white;
}

.info-view {
  transition: 0.2s;
}
.text-green-user {
  color: #004040;
}

.text-green {
  transition: 0.2s;
  color: #004040 !important;
}

.text-green:hover {
  transition: 0.2s;
  color: #008080 !important;
}

.text-green-back {
  transition: 0.2s;
  color: #004040 !important;
  font-size: larger;
}

.text-green-back:hover {
  transition: 0.2s;
  color: #008080 !important;
  font-size: larger;
}

.btn-green-layer {
  transition: 0.2s;
  background-color: #004040;
  color: white !important;
  justify-content: end;
}

.btn-green-layer:hover {
  transition: 0.2s;
  background-color: #008080;
}

.btn-green {
  transition: 0.2s;
  background-color: #004040;
  color: white !important;
}

.btn-green:disabled {
  transition: 0.2s;
  background-color: #535353;
  color: white !important;
}

.btn-green:hover {
  transition: 0.2s;
  background-color: #008080;
}

.info-files:hover {
  transition: 0.3s;
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 5px;
}

.info-files {
  transition: 0.3s;
}

.user-files:hover {
  transition: 0.3s;
  background-color: #006060;
  padding: 5px;
  border-radius: 5px;
}

.user-files {
  transition: 0.3s;
}

.card-green {
  background-color: #004040;
  color: white;
}

.nav-item {
  cursor: pointer;
}

input:disabled, textarea:disabled {
  color: rgba(141, 141, 141, 0.699);
  cursor: not-allowed;
}