<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexus Service | Budget</title>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  {% include 'base/nav-admin.html' %}
  <body>
    <div class="go-back">
      <a class="text-green-back" href="{% url 'admin-view' %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-arrow-bar-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"
          />
        </svg>
        Volver
      </a>
    </div>
    <main>
      <!-- Formulario del budget -->
      <div class="container">
        <div class="row space-solicitud">
          <div class="col-md-6">
            <div class="formulario-user shadow-lg mb-5 mt-3">
              <div class="better-background">
                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-file-earmark-post"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"
                    />
                    <path
                      d="M4 6.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5"
                    />
                  </svg>
                  <h3 class="mt-2">Causas</h3>
                </div>
                <hr />
                <section class="section-space">
                  <div class="container-fluid">
                    <div
                      class="row justify-content-center align-items-center text-center text-md-left"
                    ></div>
                  </div>
                </section>
                <section>
                  <div class="better-div">
                    <table
                      class="table table-light table-striped table-borderless text-center"
                    >
                      <tr>
                        <th>Rut</th>
                        <th>Nombre Causa</th>
                        <th>Categoria</th>
                        <th>Fechas</th>
                        <th>Monto</th>
                      </tr>
                      <tr>
                        <td>12.345.678-9</td>
                        <td>le pegaron a mi hermano</td>
                        <td>Derecho de Familia</td>
                        <td>07/08/24</td>
                        <td>$90.000</td>
                      </tr>
                      <tr>
                        <td>12.345.678-9</td>
                        <td>me cai en la pega</td>
                        <td>Derecho Laboral</td>
                        <td>05/12/23</td>
                        <td>$90.000</td>
                      </tr>
                      <tr>
                        <td>12.345.678-9</td>
                        <td>quiero comprar una casa</td>
                        <td>Derecho Inmobiliario</td>
                        <td>28/09/24</td>
                        <td>$90.000</td>
                      </tr>
                      <tr>
                        <td>12.345.678-9</td>
                        <td>mi papa no me quiere</td>
                        <td>Derecho de Familia</td>
                        <td>06/08/24</td>
                        <td>$90.000</td>
                      </tr>
                    </table>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div>
              <div class="formulario shadow-lg mt-3">
                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-calendar2"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"
                    />
                    <path
                      d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"
                    />
                  </svg>
                  <h3 class="mt-2 title-prop">Filtrar</h3>
                </div>
                <hr />
                <div class="better-bacground">
                  <form action="" method="POST">
                    <div>
                      <div class="mb-2 mt-2">
                        <label for="filtrar-month"> Nombre del Asunto </label>
                        <input
                          type="month"
                          class="form-control"
                          id="filtrar-month"
                        />
                      </div>
                      <div id="filtrar-month-feedback"></div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="term-jt mb-5">
                <div class="mt-2 gap-2">
                  <button type="submit" class="btn btn-light btn-green">
                    Generar Reporte
                  </button>
                </div>
                <div class="mt-2 gap-2">
                  <button type="submit" class="btn btn-light btn-green">
                    Filtrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  {% include 'base/footer.html' %}
</html>
