<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexus Service | Terminos y Condiciones</title>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  {% include 'base/navbar.html' %}
  <body>
    <main>
      {% include 'base/carousel.html' %}
      <div>
        <section class="section-space">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-12 col-md-auto col-lg-8 bg-yellow border-circle mt-3">
                <h2>Términos y condiciones</h2>
              </div>
            </div>
          </div>
        </section>
        <section class="section-space">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-12 col-md-auto col-lg-8">
                <h4 class="mt-2 mb-4">
                  Bienvenido a GameGeek, Su sitio seguro y de acesorias juridicas profesionales favorita.
                  Al utilizar este sitio web, usted acepta los siguientes
                  términos y condiciones.
                </h4>
  
                <h4 class="mt-3">Aceptación de los Terminos</h4>
  
                <p>
                  Al acceder a Lexus-Service o utilizar los Servicios, usted acepta
                  y se obliga a cumplir con estos Términos. Si no está de
                  acuerdo con estos Términos, no debe acceder al Sitio web ni
                  utilizar los Servicios.
                </p>
  
                <h4 class="mt-3">Registro</h4>
  
                <p>
                  Para acceder a algunos Servicios, es posible que deba
                  registrarse y crear una cuenta. Al registrarse, usted acepta
                  proporcionar información precisa y completa sobre usted. Siendo así
                  responsable de mantener la confidencialidad de su cuenta y
                  contraseña y de toda la actividad que se produce en su cuenta.
                  Usted acepta notificar inmediatamente al Propietario de
                  cualquier uso no autorizado de su cuenta o contraseña.
                </p>
  
                <h4 class="mt-3">Uso del sitio web y los servicios</h4>
  
                <p>
                  Usted acepta utilizar el sitio web y sus Servicios de manera
                  responsable y ética. Usted no debe utilizar el Sitio web o los
                  Servicios para ningún propósito ilegal o que pueda dañar o
                  perjudicar a otros. Usted no debe utilizar el Sitio web o los
                  Servicios para transmitir o publicar cualquier material que
                  sea difamatorio, obsceno, amenazante, abusivo, odioso,
                  discriminatorio o de cualquier otra manera objetable.
                </p>
  
                <h4 class="mt-3">Propiedad Intelectual</h4>
  
                <p>
                  Lexus-Service y sus Servicios, incluyendo todo el contenido, las
                  imágenes, los logotipos, los diseños y el software, son
                  propiedad del Propietario o de sus licenciantes. Usted no
                  puede copiar, reproducir, modificar, distribuir, mostrar,
                  realizar, publicar, vender ni transferir de ninguna manera
                  ningún material del Sitio web o de los Servicios sin el
                  consentimiento previo por escrito del Propietario.
                </p>
  
                <h4 class="mt-3">Enlaces a otros sitios web</h4>
  
                <p>
                  Lexus-Service puede contener enlaces a otros sitios web que no son
                  propiedad ni están controlados por el Propietario. El
                  Propietario no se hace responsable del contenido, la precisión
                  o las prácticas de dichos sitios web. Usted accede a dichos
                  sitios web bajo su propio riesgo.
                </p>
  
                <h4 class="mt-3">Limitacion de responsabilidad</h4>
  
                <p>
                Lexus-Service no será responsable de ningún daño directo,
                  indirecto, incidental, especial o consecuente que surja del sitio 
                  o esté relacionado con el uso o la imposibilidad de usar el
                  Sitio web o los Servicios, incluso si el Propietario ha sido
                  advertido de la posibilidad de tal daño. Algunas
                  jurisdicciones no permiten la exclusión de ciertas garantías o
                  la limitación o exclusión de responsabilidad por daños
                  indirectos o consecuentes. En consecuencia, algunas de las
                  limitaciones anteriores pueden no aplicarse a usted.
                </p>
  
                <h4 class="mt-3">Indemnización</h4>
  
                <p>
                  Usted acepta indemnizar, defender y eximir de toda
                  responsabilidad al Propietario, sus funcionarios, directores,
                  empleados, agentes, proveedores y licenciantes del Sitio web y contra
                  cualquier reclamo, pérdida, daño, costo o gasto (incluyendo
                  honorarios razonables de abogados) que surja de o esté
                  relacionado con su uso del Sitio web o los Servicios, o con su
                  violación de estos Términos.
                </p>
  
                <h4 class="mt-3">Modificación de Terminos y Condiciones</h4>
  
                <p>
                  Lexus-Service puede modificar sus Términos en cualquier momento.
                  Las modificaciones entrarán en vigor inmediatamente después de
                  su publicación en el Sitio web. Usted acepta revisar estos
                  Términos periódicamente para estar al día de las
                  modificaciones. Su uso continuo del Sitio web o de los
                  Servicios después de la publicación de cualquier modificación
                  constituirá su aceptación de dicha modificación.
                </p>
  
                <h4 class="mt-3">Ley aplicable y Jurisdicción</h4>
  
                <p>
                  Estos Términos se regirán e interpretarán de conformidad con
                  las leyes del Estado de Delaware, Estados Unidos. Cualquier
                  disputa que surja del sitio o esté relacionada con estos Términos
                  será sometida a la jurisdicción exclusiva de los tribunales
                  del Estado de Delaware, Estados Unidos.
                </p>
  
                <h4 class="mt-3">Divisibilidad</h4>
  
                <p>
                  Si alguna disposición de estos Términos se considera inválida
                  o inaplicable, dicha disposición será eliminada de estos
                  Términos y las disposiciones restantes permanecerán en pleno
                  vigor y efecto.
                </p>
  
                <h4 class="mt-3">No renuncia</h4>
  
                <p>
                  El hecho de que el Propietario no haga cumplir alguna
                  disposición de estos Términos no se considerará una renuncia a
                  dicha disposición o a cualquier otra disposición de estos
                  Términos.
                </p>
  
                <h4 class="mt-3">Acuerdo Completo</h4>
  
                <p>
                  Estos Términos constituyen el acuerdo completo entre el
                  Propietario y usted con respecto al Sitio web y los Servicios
                  y reemplazan cualquier acuerdo o entendimiento previo con
                  respecto a los mismos.
                </p>
  
                <h4>Información de contacto</h4>
  
                <p class="fw-lighter">
                  Si tiene alguna pregunta sobre estos términos y condiciones,
                  póngase en contacto con nosotros en
                  <a href="mailto:ayuda@gamegeek.cl" target="_blank" class="text-green terms">
                    contacto@lexusserv.cl
                  </a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  {% include 'base/footer.html' %}
</html>